@import "./../../../../Shared.scss";

.card-title-main-container {
  display: flex;
  align-items: center;
  width: 70%;
}

.card-title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
  margin: 0 auto;
  min-height: 60vh;
  height: 100%;
  width: 80%;
}

.create-title-icon-left {
  color: $secondary;
  font-size: 2rem;
}

.create-title-icon-right {
  color: $main;
  font-size: 2rem;
}

.card-title-input {
  background: white;
  border-radius: 5px;
  box-shadow: $box-shadow;
  @extend %flex-between;
  flex-direction: column;
  padding: 2rem 1rem;
}

.input-container {
  .input-container {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;

    p {
      color: $main;
      font-weight: 500;
      padding-bottom: 1rem;
    }

    input {
      color: $main;
      font-size: 1.25rem;
      border: none;
      background: $background-color;
      border-radius: 5px;
      padding: 0.5rem 0.75rem;

      &:focus {
        box-shadow: 0 0 10px #719ece;
        outline: none;
      }
    }
  }
}

.card-title-display {
  background: $secondary;
  border-radius: 5px;
  box-shadow: $box-shadow;
  color: $white;
  @extend %flex-column;

  h1 {
    background-color: white;
    color: $main;
    margin-block: 5rem 3rem;
    padding-block: 0.5rem;
    width: 100%;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 80%;
  }
  h3 {
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
  }
}
